BasedOnStyle: Google
AllowShortFunctionsOnASingleLine: Empty
BreakBeforeBraces: Allman
ColumnLimit: '100'
IncludeBlocks: Preserve
IndentWidth: '4'
PointerAlignment: Left
SortIncludes: 'true'
SpaceAfterCStyleCast: 'true'
TabWidth: '4'
UseTab: Never

